@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
.jumbotron {
    background-image: url("./img/hero.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    background-position: center;
  }

  nav .container-fluid {
    display: flex;
    justify-content: space-between;
}

nav .navbar-brand {
    margin-right: auto;
}

.jumbotron {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.destination-card .card-img-top {
    height: 200px; /* Adjust as needed */
}

.jumbotron a,.card-body a{
    width:auto;
    text-align: center;
    background-color: rgb(255, 157, 0);
    border: 0;
    color: white;

}

.jumbotron a:hover{
    width:auto;
    text-align: center;
    background-color: white;
    border: 0;
    color: rgb(255, 157, 0);

}

.card-body a:hover{
    width:auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 0;
    color: rgb(255, 157, 0);
    letter-spacing: 2px;
    transition:0.3s ease;
}
  ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    width: 160px;
    text-align: center;
  }

  ul li a:hover{
    color: rgb(255, 157, 0);
    letter-spacing: 2px;
    transition:0.3s ease;
  }

  nav>div>a,footer .logo{
    background-color: rgb(255, 157, 0);
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  nav>div>a:hover,footer .logo:hover{
    background-color:white;
    padding: 5px;
    border-radius: 5px;
    color:  rgb(255, 157, 0);
    text-decoration: none;
    font-weight: bold;
  }



.destination-card {
    border-radius: 15px;
    overflow: hidden;
    background-color: #FFF7E1;
}

.destination-card .card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-favorite {
    background: none;
    border: none;
    color: #000;
    font-size: 1.5rem;
}

i:hover{
    color:red;
    fill: red;
}

.rating i {
    color: #28a745;
}

.price {
    font-weight: bold;
}





.accordion-item h2.accordion-header button {
    background-color: #FFF7E1; 
    color: black; 
  }
  .accordion-item h2.accordion-header button.collapsed {
    background-color: rgb(255, 157, 0); 
    color: white;
  }

  section{
    margin-bottom: 50px;
    margin-top: 50px;
  }

  #Contact div div{
    background-color: #FFF7E1; 
    padding: 10px;
    border-radius: 10px;
  }

  form button{
    background-color: rgb(255, 157, 0);
    border: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: white;

  }
  form button:hover{
    background-color: rgb(255, 255, 255);
    border: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: rgb(255, 157, 0);
    letter-spacing: 2px;
    transition:0.3s ease;

  }

  h2{
    margin-bottom: 50px;
  }



  
